body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* utils */

.cursor-pointer {
  cursor: pointer;
}

/* Login Compoennt */

.login-header {
  font-size: 2em;
  text-align: center;
  margin-top: 7rem;
}

.login-selector {
  display: inline-block;
  width: 85%;
  height: 3rem;
  margin-bottom: 2rem;
  margin-left: 7rem;
  font-size: 1rem;

}

.login-btn {
  margin-left: 46%;
  font-size: 1rem;
  width: 6rem;
  height: 3rem;
  background-color: orangered;
  border-radius: 5rem;
  cursor: pointer;
  transition: all .3s;
}
.login-btn:hover {
  transform: translateY(-2px);
}
.login-btn:active {
  transform: translateY(0px);
}

/* <Navbar /> */

.link {
  text-decoration: none;
  color: black;
  display: inline-block;
  text-align: center;
  height: 2rem;
  width: 8rem;
  line-height: 2rem;
  cursor: pointer;
  margin: 1rem;
  border : 1px solid black;
  border-radius: 3rem;

  transition: all .4s;
}

.link-active {
  background-color: orangered;
}

.link:hover {
  background-color: orangered;
}

.right-portion {
  position: absolute;
  right: 0;
  top:0;
}

.nav-bar {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.title {
  text-decoration: none;
  color : black;
  display: inline-block;
  width: 20%;
  font-size: 1.5rem;
  font-weight: 800;

  margin-top: 1rem;
  margin-left: 1rem;
}

/* question */

.question-container {
  border : 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  margin-left: 20rem;
  padding-left : 2rem;
  display: inline-block;
  width: 50%;
}

.active-answer {
  color: red;
}

/* AnswerQuestion Component */

.answer-option {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  width: 13rem;
  height: 5rem;


  transition: all .5s;
}

.answer-option-hover:hover {
  background-color: red;
}

.active-chosen-answer {
  background-color: red;
  color: white;
}

/* Not Found */
.btn {
  display: inline-block;
  margin-left: 46%;
  text-align: center;
  padding-top: .6rem;
  font-size: 1rem;
  width: 7rem;
  height: 2rem;
  border: 1px solid orangered;
  border-radius: 5rem;
  cursor: pointer;

  transition: all .3s;
}

.btn:hover {
  background-color: orangered;
}

.question-asker {
  position: absolute;
  right: 2rem;
}

.answer-question-header {
  position: relative;
}

/* Add Question */

.add-question-card {
  margin: 2rem;
  padding : 1rem;
  border: 1px solid black;
}

.add-question-label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.add-question-input {
  display: block;
  width: 100%;
  height: 1.5rem;
}

.add-question-btn {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  
  transition: all .3s;
}


/* Leaderboard */

.leaderboard-card {
  border: solid black 1px;
  border-radius: 5px;
  margin: 1rem;
  padding : 1rem;
}

.leaderboard-card-number {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Dashboard */

.toggle-btn {
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
  cursor: pointer;
  height: 3rem;
  margin: 2rem;

  transition: all .3s;
}

.toggle-btn:hover {
  background-color: orangered;
}

.toggle-btns {
  margin-left: 50%;
  transform: translateX(-35%);
}