:root {
  --box-shadow : 0 1rem 2rem rgba(0, 0, 0, .2);
  --border : 1px solid black;

  --color-primary : rgb(162, 0, 255);
  --color-secondary : #0061c2;
}


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;   
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}


/* Horizontal line */

.horizontal-line {
  margin-top: .6rem;
  border: var(--border);
}

/* utils */

.cursor-pointer {
  cursor: pointer;
}

.move-right {
  margin-left: 1rem;
}

.different-color-text {
  color: var(--color-secondary);
}

/* Login Compoennt */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 100vh;
  
}

.login-header {
  font-size: 4em;
  text-align: center;
  margin-top: -5rem;
  margin-bottom: 1rem;
}

optgroup {
  font-size: 1.5rem;
}


.login-selector {
  padding: 1rem;
  display: block;
  width: 95rem;
  height: 4rem;
  margin-bottom: 2rem;
  border-radius: 5rem;
  outline: none;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow);
}

/* <Navbar /> */

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: .6rem;
}

.right-portion {
  display: flex;
  align-items: center;
  margin-left: 25rem;
}

.navbar-user {
  font-size: 1.3rem;
  margin-right: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-img {
  width:3rem;
  height: 3rem;
  border-radius: 5rem;
  background-color: red;
  overflow: hidden;
  margin-right: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-img-itself {
  width: 3rem;
}

.title {
  text-decoration: none;
  color : black;
  font-size: 2rem;
  font-weight: 800;
  margin-left: -10rem;

}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 11rem;
  cursor: pointer;
  margin: 1rem;
  margin-right: 2rem;
  transform: translateY(-1.5px);
  transition: all .2s;
}

.link:hover {
  border-bottom: var(--border);
  margin-bottom : calc(1rem - 1px);
  color: var(--color-secondary);
}

.link-active {
  border-bottom: var(--border);
  margin-bottom : calc(1rem - 1px);
  color: var(--color-secondary);
}


.logout {
  margin-left: 2.4rem;
}

/* question */

.question-container {
  border : var(--border);
  /* border-radius: 4rem; */
  margin: 3rem;
  padding: 1rem;
  display: flex;  
  flex-direction: column;
  font-size: 1.6rem;
  box-shadow: var(--box-shadow);
  
}


.active-answer {
  color: rgb(162, 0, 255);
}

.question-header {
  margin-left: 4rem;
}

.possible-answer {
  list-style: none;
  margin-left: 8rem;
}


/* AnswerQuestion Component */

.hover-remover {
  pointer-events: none;
}

.active-chosen-answer {
  background-color: var(--color-primary);
  color: white;
}

.answer-btn {
  margin : 2rem 1rem;
  flex : 1;
}

.question-answer-container {
  display: flex;
}

.answer-question-header {
  display: flex;
  align-items: center;
}
.answer-question-header-title {

}

.question-asker {
  margin-left: 100rem;
}

.question-asker-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  overflow: hidden;
  margin-left: 1rem;
}

.question-asker-img-itself {
  width: 3rem;
}

.answer-buttons {
  display: flex;
  align-items: center;
}

.answer-info {

}

/* Button */
.btn {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  width: 12rem;
  height: 5rem;
  border: var(--border);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  
  transform: translateY(-2px);
  transition: all .4s;
}

.btn:hover {
  transform: translateY(0);
  background-color: rgb(243, 243, 243);
  animation-fill-mode: forwards;
}
.btn:active {
  transform: translateY(0px);
}

.answer-question-header {
  position: relative;
}

/* Add Question */

.add-question-card {  
  border: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.add-question-item {
  margin-top: 1.5rem;
}

.add-question-btn {
  margin-top: 2rem;
  align-self: center;  
}


.add-question-input {
  width: 100%;
  height: 2.5em;
  border-radius: 2rem;
  outline: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding-left : 2rem;

  transition: all .4s;
}

.add-question-input:focus{
  box-shadow: var(--box-shadow);
}


/* Leaderboard */

.leaderboard-card {
  display: flex;
  
}

.leaderboard-card-number {
  font-size: 1.6rem;
  font-weight: 700;
  align-self: center;
  margin-bottom: 2rem;
}

.leaderboard-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard-info {
  margin-left: 5rem;
}

.leaderboard-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  border-radius: 5rem;
  overflow: hidden;
  margin-right: 5rem;
  margin-bottom: 2rem;
}

.leaderboard-img-itself {
  width: 13rem;
}

/* Dashboard */

.toggle-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn {
  text-decoration: none;
  border : none;
  background-color: transparent;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 18rem;
  cursor: pointer;
  margin: 1rem 6rem;
  transform: translateY(-1.5px);
  transition: all .2s;

}

.toggle-btn:active, .selected {
  border-bottom: var(--border);
  margin-bottom : calc(1rem - 1px);
  color: var(--color-secondary);
  animation-fill-mode: forwards;
}

.toggle-btn:hover {
  border-bottom: var(--border);
  color: var(--color-secondary);
  animation-fill-mode: forwards;

} 

/*IMAGE */

/* .img {
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  position: absolute;
  left:-.5rem;
  top:-.5rem;
} */
/* .img-container {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 1rem;
}

.navbar-img {
  margin-left: 1rem;
} */
